<section class="projects-section">
  <h2>Featured Projects</h2>
 <div class="project">
    <h3>Elevate LMS – Commpartner (USA Client)</h3>
    <p>Led integration of Zoom API, Scorm Cloud, and chat systems. Scaled the platform from a few to 10,000+ paying users with CI/CD practices and AWS infrastructure.</p>
    <p><strong>Company:</strong> Pegasus InfoCorp</p>
    <p><strong>Tech Stack:</strong> Laravel, Node.js, Angular, AWS, Git, REST API, Mysql, Postgress, Microservices</p>
  </div>

  <div class="project">
    <h3>MCM – Republic M (Netherlands Client)</h3>
    <p>Worked with Dutch client on a CRM/Marketing platform. Built email campaign and event modules, integrated microservices and API gateway.</p>
    <p><strong>Company:</strong> Eastern Enterprise</p>
    <p><strong>Tech Stack:</strong> PHP, Laravel, Microservices, REST API, PostgreSQL</p>
  </div>

  <div class="project">
    <h3>Veefin – Supply Chain Finance Platform</h3>
    <p>Core contributor to SCF modules used by corporate clients. Designed, developed, and maintained key components of the product used in financial operations.</p>
    <p><strong>Company:</strong> Infini Systems</p>
    <p><strong>Tech Stack:</strong> PHP, Laravel, AWS, MySQL, JavaScript, Linux, REST API, Mysql, Redis</p>
  </div>

  <div class="project">
    <h3>Group Hospicash & Insurance Systems</h3>
    <p>Developed insurance policy management features, including payment gateway integrations and call center modules.</p>
    <p><strong>Company:</strong> Navi General Insurance</p>
    <p><strong>Tech Stack:</strong> PHP, Laravel, Razorpay, Paytm, REST API, MySQL</p>
  </div>

  <div class="project">
    <h3>Wishberry Crowdfunding Platform</h3>
    <p>Delivered key components for India’s leading crowdfunding platform with 70%+ success rate. Solved complex payment and campaign logic issues.</p>
    <p><strong>Company:</strong> Wishberry</p>
    <p><strong>Tech Stack:</strong> PHP, Laravel, AWS, Git, REST API</p>
  </div>
</section>

