<!-- src/app/app.component.html -->
<div class="container">
  <header>
    <nav>
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/skills" routerLinkActive="active">Skills</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
  </header>

  
  <router-outlet></router-outlet> <!-- Placeholder for routed views -->

  <footer class="footer">
    <p>&copy; 2025 Vishwakarma. All rights reserved.</p>
  </footer>
</div>
