<div class="home">
    <h1>Welcome to My Portfolio</h1>
    <p>
        Hi, I'm Manjeet Vishwakarma, a Technical Lead with 10+ years of experience in Laravel, Angular, and full-stack
        development.
    </p>
    <p>
        I specialize in building scalable web applications, cloud integrations (AWS), and leading teams to deliver
        quality software on time.
    </p>
    <p>
        Passionate about clean code, best practices, and continuous learning — let’s explore my projects and skills!
    </p>
    <p>
        Explore my work, skills, and more below!
    </p>
    <a href="about" class="btn-learn-more">Learn More</a>
</div>